.ag-theme-quartz {
    /* Changes the color of the grid text */
    --ag-foreground-color: #fff;
    /* Changes the color of the grid background */
    --ag-background-color: #222;
    /* Changes the background color of selected rows */
    --ag-selected-row-background-color: rgba(0, 38, 255, 0.1);
}